{% extends "base.html" %}
{% set page_title = "Calendar" %}

{% macro club_badge(overview) %}
<a href="{{overview.page_url}}" class="d-block text-center text-decoration-none text-dark" target="_blank">
    <img src="{{overview.thumb_url}}" class="img-fluid rounded-pill" style="max-height:60px;max-width:60px">
    <p class="mt-2" style="font-size:12px">
        {% if overview.aka %}
        {{overview.aka}}
        {% else %}
        {{overview.name}}
        {% endif %}
    </p>
</a>
{% endmacro %}

{% block content %}
<div class="container mt-4 px-lg-4">
    <div class="d-flex justify-content-between">
        <p class="text-secondary mb-2">{{today}}, {{ current_timestamp.strftime("%b %d, %Y") }}</p>
        <div class="ms-2 mb-1 spinner-grow spinner-grow-sm text-danger" role="status"></div>
    </div>
    <h3 class="text-danger"><i class="bi bi-calendar3 me-2"></i> Meetings Today or Next {{today}} </h3>

    {% for overview in clubs_meeting_on[today] %}
    {{ club_row(overview) }}
    {% endfor %}
</div>

<div class="container mt-3 mt-lg-5">
    <div class="row row-cols-2 g-5">
        {% for day in weekly_days %}
        {% if day != today %}
        <div class="col pe-5">
            <h5>{{ day }}</h5>
            <div class="row row-cols-4 g-3 mt-0">
                {% for overview in clubs_meeting_on[day] %}
                <div class="col">
                {{ club_badge(overview) }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
