{% extends "base.html" %}
{% set page_title = "Calendar" %}

{% block content %}
<div class="container mt-3 mt-lg-5">
    <h3 class="text-danger"><i class="bi bi-calendar3 me-2"></i> Clubs Calendar</h3>
    <div class="hide-scrollbar mt-4 row flex-row flex-nowrap pb-2" style="overflow:auto;white-space:nowrap">
        {% for day in weekly_days %}
        <div class="pe-3 pe-lg-5" style="max-width:500px;overflow-x:hidden;margin-right:-24px">
            <div class="d-flex align-items-center">
                <h5 id="{{day}}">{{ day }}</h5>
                {% if day == today %}
                <div class="ms-2 mb-1 spinner-grow spinner-grow-sm text-danger" role="status"></div>
                {% endif %}
            </div>
            {% for overview in clubs_meeting_on[day] %}
            {{ club_row(overview, show_detail=False, margin="pe-2") }}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
