{% extends "base.html" %}
{% set page_title = "Home" %}

{% macro tag(text, color="info", margin="m-2", roundedness="rounded-3") %}
<span class="badge {{margin}} text-{{color}} bg-{{color}} bg-opacity-10 border border-{{color}} border-opacity-10 {{roundedness}}">
    {{ text }}
</span>
{% endmacro %}

{% macro person_card(name, role, email, shadow="shadow-sm", roundedness="rounded-pill") %}
{% set available_avatar_bgs = ['primary', 'info', 'danger', 'warning', 'success'] %}
<div class="card {{shadow}} {{roundedness}}" style="border:0px">
    <div class="d-flex align-items-center ps-2">
        <div style="width:60px;height:60px" class="text-center rounded-pill bg-{{available_avatar_bgs|random}}">
            {% if name.split()|length >= 2 %}
            <h3 style="margin-top:23%">{{name.split()[0][0] + name.split()[-1][0]}}</h3>
            {% else %}
            <h3 style="margin-top:23%">{{name.split()[0][0]}}</h3>
            {% endif %}
        </div>
        <div>
            <div class="card-body">
                <small class="text-secondary mb-1">{{ role }}</small>
                <h6 class="card-title mb-0">{{ name }}</h6>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro social_media(icon, url, text, margin_top="mt-3") %}
<a class="{{margin_top}} px-0 d-flex text-decoration-none" href="{{url}}" target="_blank">
    <div style="width:36px;height:36px"><img src="{{icon}}" class="img-fluid"></div>
    <p class="ms-3 text-secondary">{{ text }}</p>
</a>
{% endmacro %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="d-flex align-items-center">
                <img src="/static/icons/bsu.png" class="img-fluid rounded-pill img-thumbnail"
                     style="max-width:140px;max-height:140px">
                <div class="ms-5">
                    <p class="text-secondary mb-1">aka. BSU</p>
                    <h1 class="fw-bold gd-text gd-pink-blue">Black Student Union</h1>
                </div>
            </div>
            <div class="d-flex mt-4" style="flex-wrap: wrap;">
                {{ tag('#Cultural Club') }}
                {{ tag('#Meeting this Tuesday!') }}
                {{ tag('#Everyone is Welcome to Join') }}
                {{ tag('#Black Lives Matter') }}
                {{ tag('#Student Union') }}
            </div>
            <div class="container-fluid px-3 mt-4 text-secondary">
                <p>The Purpose of Black Student Union is to:</p>
                <ol>
                    <li>Provide a safe space for everyone on our campus, with a heavy emphasis on the little population
                        of black students on our campus
                    </li>
                    <li>Inform, educate, and advise Cupertino High, as well as our community, on issues that heavily
                        affect the black community
                    </li>
                </ol>
                <p>BSU is a judgment-free, safe, validating environment, where mental health, self-acceptance, and
                    acknowledgment are made to prosper.</p>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card shadow-sm rounded-3" style="border:0px">
                <div class="card-body">
                    <p class="card-subtitle text-secondary">BSU Meets</p>
                    <h5 class="card-title mt-2 gd-text gd-pink-blue">Every Other Tuesday Lunch @ Room 6222</h5>
                </div>
            </div>
            <div class="mt-4 card shadow-sm rounded-3" style="border:0px">
                <div class="card-body">
                    <p class="card-subtitle text-secondary">Reach out to BSU</p>
                    {{ social_media("/static/icons/instagram_icon.webp", "https://www.instagram.com/tino.bsu/", "@tino.bsu") }}
                    {{ social_media("/static/icons/discord_icon.png", "https://discord.com/invite/ZCFuQMyS", "ZCFuQMyS") }}
                    {{ social_media("/static/icons/gmail_icon.png", "mailto:blacksu.chs@gmail.com", "blacksu.chs@gmail.com") }}
                    {{ social_media("/static/icons/linktree_icon.png", "https://linktr.ee/bsu.at.chsu", "linktr.ee/bsu.at.chsu") }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <h4 class="fw-bold gd-text gd-pink-blue">Club Leadership</h4>
    <div class="px-2 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        <div class="col">
            {{ person_card("Jenny Padgett", "Club Advisor", "jenny_padgett@fuhsd.org") }}
        </div>
        <div class="col">
            {{ person_card("Rochelle Awuah", "Co-President", "rawuah461@student.fuhsd.org") }}
        </div>
        <div class="col">
            {{ person_card("Liza Thorpe", "Co-President", "athorpe227@student.fuhsd.org") }}
        </div>
    </div>
</div>


<div class="container mt-5">
    <h4 class="fw-bold gd-text gd-pink-blue">Other Cultural Clubs</h4>
    <div class="px-2 row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-3">
        <div class="col">
            {{ club_card("LatinX Student Union", "/static/icons/lsu_icon.jpeg") }}
        </div>
        <div class="col">
            {{ club_card("Korean American Student Association", "/static/icons/kasa_icon.jpeg") }}
        </div>
        <div class="col">
            {{ club_card("South Asian Heritage Association", "/static/icons/saha_icon.jpeg") }}
        </div>
        <div class="col">
            {{ club_card("National Chinese Honor Society", "/static/icons/nchs_icon.jpeg") }}
        </div>
    </div>
</div>
{% endblock %}
