{% extends "base.html" %}
{% set page_title = club.name %}

{% macro person_card(name, role, email, shadow="shadow-sm", roundedness="rounded-pill") %}
{% set available_avatar_bgs = ['primary', 'info', 'danger', 'warning', 'success'] %}
<div class="card {{shadow}} {{roundedness}}" style="border:0px">
    <div class="d-flex align-items-center ps-2">
        <div style="width:60px;height:60px" class="text-center rounded-pill bg-{{available_avatar_bgs|random}}">
            {% if name.split()|length >= 2 %}
            <h3 style="margin-top:23%" class="text-white">{{name.split()[0][0] + name.split()[-1][0]}}</h3>
            {% else %}
            <h3 style="margin-top:23%" class="text-white">{{name.split()[0][0]}}</h3>
            {% endif %}
        </div>
        <div>
            <div class="card-body">
                <small class="text-secondary mb-1">{{ role }}</small>
                <h6 class="card-title mb-0">{{ name }}</h6>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro social_media(icon_url, text, margin_top="mt-3") %}
<div class="{{margin_top}} px-0 d-flex align-items-center">
    <div style="width:36px;height:36px"><img src="{{icon_url}}" class="img-fluid"></div>
    <p class="ms-3 mb-1 text-crimson">{{ text }}</p>
</div>
{% endmacro %}

{% block content %}
{% if club.is_new %}
<div class="gd-gold text-center text-white">{{ club.name }} is a new club!</div>
{% endif %}

<div class="container mt-3 mt-lg-4">
    <div class="row">
        <div class="col-12 col-lg-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/" class="text-decoration-none text-danger">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="/explore#{{club.category.value}}" class="text-decoration-none text-danger">
                            {{club.category.display_name}}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{club.name}}</li>
                </ol>
            </nav>
            <div class="d-flex align-items-center mt-lg-4">
                <img src="{{club.img_url}}" class="img-fluid rounded-pill img-thumbnail"
                     style="max-width:140px;max-height:140px">
                <div class="ms-5">
                    {% if club.aka %}
                    <p class="text-secondary mb-1">{{ club.aka }}</p>
                    {% endif %}
                    <h1 class="fw-bold {{'gd-gold gd-text' if club.is_new}}">{{ club.name }}</h1>
                </div>
            </div>
            <div class="d-flex mt-4" style="flex-wrap: wrap;">
                {% for t in club.tags %}
                {{ tag(t) }}
                {% endfor %}
            </div>
            <div class="container-fluid px-3 text-secondary">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="text-warning fw-bold mt-2">Last modified: {{club.last_modified_humanized}}</p>
                    <a class="btn btn-warning btn-sm rounded-pill" href="{{club.edit_url}}">
                        Edit <i class="bi bi-pen"></i>
                    </a>
                </div>
                {{ club.description|safe }}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card shadow-sm rounded-3" style="border:0px">
                <div class="card-body">
                    <p class="card-subtitle text-secondary">{{ club.name }} Meets</p>
                    <h5 class="card-title mt-2 {{'gd-text gd-gold' if club.is_new}}">{{ club.meeting_time }} @ {{ club.meeting_location }}</h5>
                </div>
            </div>
            {% if club.social_medias %}
            <div class="mt-4 card shadow-sm rounded-3" style="border:0px">
                <div class="card-body">
                    <p class="card-subtitle text-secondary">Reach out to {{ club.name}}</p>
                    {{ social_media("/static/social_medias/email.webp", club.email) }}
                    {% for media in club.social_medias %}
                    {{ social_media(media.icon_url, media.text) }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-4">
    <h5>Club Leadership</h5>
    <div class="px-2 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
        {% for person in club.leaderships %}
        <div class="col">
            {{ person_card(person.name, person.role) }}
        </div>
        {% endfor %}
    </div>
</div>


<div class="container mt-3 mt-lg-5">
    <div class="d-flex justify-content-between mb-4" style="max-width:1080px">
        <h5>Other {{club.category.display_name}} Clubs</h5>
        <a href="/explore#{{club.category.value}}" class="text-decoration-none text-crimson">See All</a>
    </div>
    {{ club_cards_grid(overviews_of_same_category_clubs) }}
</div>
{% endblock %}
