{% from 'bootstrap5/form.html' import render_field, render_form %}
{% extends "base.html" %}
{% set page_title = "Edit " + club.name %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div class="container mt-3" data-bs-theme="light">
    <div class="d-flex align-items-center">
        <img src="{{club.thumb_url}}" class="rounded-pill" style="max-width:40px;max-height:40px">
        <h2 class="ms-3 mb-0">Edit {{club.name}}'s Info</h2>
    </div>
    <p class="text-secondary mt-2">
        Keeping your club's information update-to-date will boost your club's ranking on TinoClubs.com,
        help you attract more members, and stay complaint with ASB regulations.
        If you'd like to change your club's name, logo, or category, please directly reach out to ASB.
    </p>
    <form method="POST" class="mt-4">
        {{ form.csrf_token() }}
        {{ render_field(form.aka, form_type="horizontal", horizontal_columns=('lg', 3, 9)) }}
        {{ render_field(form.tags_separated_by_comma, form_type="horizontal", horizontal_columns=('lg', 3, 9)) }}
        {{ render_field(form.description_in_markdown) }}
        {{ render_field(form.meeting_time, form_type="horizontal", horizontal_columns=('lg', 3, 9)) }}
        {{ render_field(form.meeting_location, form_type="horizontal", horizontal_columns=('lg', 3, 9)) }}

        <h4 class="mt-4 mt-lg-5">Edit Your Club's Leadership Info</h4>
        <p class="text-secondary">You are welcome to have more than the following leadership roles.
            TinoClubs.com only needs to know your advisor(s) and executive officers.</p>
        {{ render_form(form.leaderships, form_type="horizontal", horizontal_columns=('lg', 3, 9)) }}

        <h4 class="mt-4 mt-lg-5">Edit Your Club's Social Media Info</h4>
        {{ render_form(form.social_medias, form_type="horizontal", horizontal_columns=('lg', 3, 9)) }}
        {{ render_field(form.submit) }}
    </form>
</div>

<script>
var simplemde = new SimpleMDE({hideIcons: ["guide", "strikethrough", "image", "side-by-side", "fullscreen", "heading", "quote", "link"],
                               showIcons: ["heading-1", "heading-2", "heading-3", "heading-4"],
                               spellChecker: false});
</script>
{% endblock %}
