{% from 'bootstrap5/form.html' import render_field, render_form %}
{% extends "base.html" %}
{% set page_title = "Edit " + club.name %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<div class="container mt-3" data-bs-theme="light">
    <a href="{{club.page_url}}" class="text-decoration-none text-crimson"><i class="bi bi-arrow-left me-2"></i>Back</a>
    <p class="text-warning fw-bold mt-2">Last modified: {{club.last_modified_humanized}}</p>
    <div class="d-flex align-items-center">
        <img src="{{club.thumb_url}}" class="rounded-pill" style="max-width:40px;max-height:40px">
        <h2 class="ms-3 mb-0">Edit {{club.name}}'s Info</h2>
    </div>
    <p class="text-secondary mt-2">
        Keeping your club's information update-to-date will boost your club's ranking on TinoClubs.com,
        help you attract more members, and stay complaint with ASB regulations.
        If you'd like to change your club's name, logo, or category, please directly reach out to ASB.
    </p>
    {{ render_form(edit_form, form_type="horizontal", horizontal_columns=('lg', 3, 9)) }}
</div>

<script>
var simplemde = new SimpleMDE({hideIcons: ["guide", "strikethrough", "image", "side-by-side", "fullscreen", "heading", "quote", "link"],
                               showIcons: ["heading-1", "heading-2", "heading-3", "heading-4"],
                               spellChecker: false});
</script>
{% endblock %}
