{% extends "base.html" %}
{% set page_title = "Home" %}

{% macro scrolling_club_circles(scrolling_class, club_overviews) %}
<div class="items-container {{scrolling_class}}">
    {% for overview in club_overviews %}
    <a class="item" href="{{overview.page_url}}" target="_blank">
        <img src="{{overview.thumb_url}}" class="club rounded-pill" style="max-width:80px;max-height:80px">
    </a>
    {% endfor %}
</div>
{% endmacro %}

{% macro club_row(overview) %}
<div class="d-flex align-items-center my-4 px-lg-5">
    <img src="{{overview.thumb_url}}" class="img-fluid rounded-pill"
             style="max-height:40px;max-width:40px">
    <div class="ms-3 ms-lg-4 w-100">
        <hr class="mt-0 mb-2">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-8 d-flex align-items-center">
                <h6 class="mb-0">{{overview.name}}</h6>
                {% if overview.aka %}
                <span class="ms-2 d-none d-xl-inline text-secondary">({{overview.aka}})</span>
                {% endif %}
            </div>
            <p class="col-6 col-lg-3 col-xl-2 text-secondary mb-0">{{overview.meeting_location}}</p>
            <a class="col-6 col-lg-3 col-xl-2 text-decoration-none text-crimson text-end" href="{{overview.page_url}}">
                See More
            </a>
        </div>
    </div>
</div>
{% endmacro %}

{% block content %}
<link rel="stylesheet" href="/static/roller.css">

<div class="gd-crimson" style="margin-top:-30px">
    <!-- relative -60 to counter the bottom wave offset -->
    <div class="row" style="position:relative;bottom:-70px">
        <div class="col-12 col-lg-5">
            <div class="container text-white ps-3 ps-lg-5">
                <h3 class="">{{total_clubs_cnt}} Clubs,</h3>
                <h1 class="fw-bold">Infinite Possibilities</h1>
                <a class="mt-4 btn btn-lg rounded-pill text-white bg-danger" href="/explore">
                    Explore Tino Clubs <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="d-none d-lg-inline col-lg-7">
            <div class="container px-0">
                <div class="rollers position-relative overflow-hidden">
                    <div class="wrapper">
                        {{ scrolling_club_circles("roll-LL", random_club_names[:random_club_names|length//2]) }}
                        {{ scrolling_club_circles("roll-RL", random_club_names[:random_club_names|length//2]) }}
                    </div>
                    <div class="wrapper">
                        {{ scrolling_club_circles("reverse-roll-LL", random_club_names[random_club_names|length//2:]) }}
                        {{ scrolling_club_circles("reverse-roll-RL", random_club_names[random_club_names|length//2:]) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 240" style="margin-top:-1px" class="mb-4 mb-sm-0">
    <defs>
        <linearGradient id="gd-crimson-fill" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="30%" style="stop-color:#992b34;stop-opacity:1"/>
            <stop offset="88%" style="stop-color:#5a0d08;stop-opacity:1"/>
        </linearGradient>
    </defs>
    <path fill="url(#gd-crimson-fill)" fill-opacity="1"
          d="M0,224L48,208C96,192,192,160,288,144C384,128,480,128,576,149.3C672,171,768,213,864,197.3C960,181,1056,107,1152,85.3C1248,64,1344,96,1392,112L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
</svg>

{% if recently_viewed %}
<div class="container" style="margin-top:-28px">
    <p class="text-center text-crimson">Your Recently Viewed</p>
    {{ club_cards_grid(recently_viewed) }}
</div>
{% endif %}

{% if clubs_meeting_today %}
<div class="container {{'mt-4 mt-lg-5' if recently_viewed}} pb-5">
    <div class="d-flex justify-content-between px-lg-4">
        <h4>Clubs Meeting Today</h4>
        <div class="spinner-grow text-crimson spinner-grow-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div style="width:1200px">
            {% for overview in clubs_meeting_today %}
            {{ club_row(overview) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if clubs_meeting_today_or_next_week %}
<div class="container pb-5">
    <div class="d-flex justify-content-between px-lg-4">
        <h4>Clubs Meeting Today Or Next {{day_of_the_week}}</h4>
        <div class="spinner-grow text-crimson spinner-grow-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div style="width:1200px">
            {% for overview in clubs_meeting_today_or_next_week %}
            {{ club_row(overview) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% if new_clubs %}
<div class="container">
    <h3 class="text-center fw-bold gd-text gd-gold">New Clubs!</h3>
    {{ club_cards_grid(new_clubs) }}
</div>
{% endif %}

{% endblock %}
